.social-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
}

.social__icon-box {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    border: 1px solid white;
    padding: 1rem;
}
